extends layout

block content
  div
    div.pageLabel List of my carts
    div#itemsList
    form#newCartForm
      input#cartName(placeholder="Cart Name...")
      br
      input#cartDescription(placeholder="Description...")
      br
      button(onclick="addCart()") New Cart
  script.
    clientRenderCarts();